main{
    margin-top: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
main h1{
    color: #ffffff;
    text-align: center;
    font-family: 'Arial Black', Gadget, sans-serif;
}