.header {
  padding: 1rem 2rem;
  background-color: #F0F9FF;
  text-align: center;
  font-weight: bold;
  min-width: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 4rem;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

ul li a {
  text-decoration: none;
  color: #D0A41E;
  font-weight: 500;
  transition: color 0.3s;
}

